@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family:'Times New Roman', Times, serif;
}

p {/*edição dos paragrafos*/
    text-align: justify;/*o texto ficará alinhado*/
}



body {/*edição do corpo*/
    background-image: /*degradê*/linear-gradient(to bottom, #EFD450, #98EAD0);
    
}

main {/*edição da parte principal da página*/
    background-color: white;
    /*cor de fundo*/
    width: 80%;/*largura da parte principal*/
    margin: auto;/*espaço da margem*/
    padding: 2%;/*espaço entre a borda e o paragrafo*/
    border-radius: 2%;/*curvatura da borda ou forma*/
    box-shadow: 2px 2px 50px #464646;/*sombra na borda*/
    font-size: 1em;/*medida das letras*/
    font-weight: bold;/*peso da letra*/
}

h1 {
    font:bold 3em arial ;
    text-align: center;/*alinhamento do texto*/
    text-shadow: 2px 2px 2px #666042;/*sombra do texto*/
    color: #ffd503;/*cor do texto*/

}

h2 {
   font:  bold 2em arial ;
    text-shadow: 1px 1px 2px #666042;
    text-align: left;
    color: #2B49F9;
}