@charset "UTF-8";



* {

    border-radius: 0.1em;
}

body {

    height: 100vh;
}

h1 {
    width: 380px;
    font-family: Bebas Neue;
padding: 10px;
    background-color: #2AAAE7;
   
    text-align: left;
    border-radius: 0.1em;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#aorigem1903 { 
    font-family: Bebas Neue;
   
    color: white;
   
    background-color: rgb(225, 17, 17)
}

h2 {
    mar
width: 250px;
    font-family: Bebas Neue;
    background-color: black;
    color: white;
}

img {

    margin: 0.5em;
}



p {

    font-family: Saira;
    font: bold 1em Saira;
}

#img1903 {
    
    margin: auto;
    text-align: auto;
   
    background-color: #00aeff00;
}




div#gfbpa {
   ;
}

div#aorigem1903{
   
}